<?php

return array (
  'settings' => 
  array (
    'site' => 
    array (
      'title' => 'Site title',
      'locale' => 'en_EN',
      'theme' => 'defaulttheme',
      'site_admin_email' => 'remdex@gmail.com',
      'templatecache' => false,
      'templatecompile' => false,      
      'classCompile' => false,
      'installed' => true,
      'nice_url_enabled' => false,
      'etag_caching_enabled' => true,
      'secrethash' => '48447454',
      'available_locales' => 
      array (
        0 => 'en_EN',
        1 => 'lt_LT',
      ),
    ),
    'sphinx' => 
    array (
      'host' => 'localhost',
      'port' => 3312,     
      'index' => 'index_name',
      'enabled' => false,      
    ),    
    'cacheEngine' => array(
        'cache_global_key'  => 'hppghentai_wallapers',
        'className'         => false //'erLhcoreClassLhMemcache' //false if none
    ),
    'memecache' => 
    array (
      'servers' => array( array('host' => '127.0.0.1',
                                'port' => '11211',     
                                'weight' => 1 ) )     
    ),
    'db' => 
    array (
      'host' => 'localhost',
      'user' => 'username',
      'password' => 'password',
      'database' => 'database',
      'port' => 3306,
    ),
  ),
  'comments' => NULL,
);
?>
