body,html{
font-size:12px;
font-family:tahoma;
padding:0;
margin:0;
padding-top:0px;
background:#FFFFFF;
color:#40353d;
}

h1,h2,h3,h4,h5{padding:0;margin:0;padding-bottom:5px;}
h1{font-size:14px;}
h2{font-size:12px;}
h3{font-size:12px;}
div.top-menu{padding:2px;padding-left:3px;}
div.top-menu ul li{float:left;padding-left:10px;}
div.top-menu ul li a{font-weight:bold;}
div#path{font-weight:bold;padding-top:5px;padding-left:12px;padding-bottom:5px;border-top:1px solid #C7C2BB;font-size:11px;}
form{display:inline;}
a,a:visited{color:#000000;text-decoration:none;}
a:hover{text-decoration:underline;}

ul{padding:0;margin:0;list-style-type: none;}
li{margin:0;padding:0;}
p{padding:5px 0px 5px 0px;margin:0;}
.btext{font-weight:bold;}

input.default-button
{
    background: #aaaaaa url(../images/tabs/images/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x top left;
    border:1px solid #aaaaaa;  
    cursor:pointer;  
}
.cursor{cursor:pointer; }

div#container{min-width:990px;}

.no-left-column #leftmenucont,
.no-right-column #rightmenucont
{
    display:none;
}

.no-right-column #bodcont
{
    padding-right:0px;
}
.no-left-column #bodcont
{
    padding-left:0;
}


div#topcontainer{
overflow:hidden;
}

div#main-header-bg
{
   overflow:hidden;
}

a img{border:0;}
div#logo{
float:left;
padding-left:10px;
width:350px;
padding-top:10px
}
div#logo a {font-size:18px;}



.clearer{
font-size:0;
height:0;
clear:both;
line-height:0px;
visibility:hidden;
}

div#bodcont{
padding: 0 217px 0 0;
border-bottom:1px solid #C7C2BB;
}
.columns-3-site div#bodcont{padding:0 217px 0px 200px}

div#footer{
padding:5px;
height:15px;
}

div.creator{
float:right;
color:#40403F;
}
div.creator a,div.creator a:visited{
text-decoration:none;
color:#40403F;
}
div.creator a:hover{
color:#1A1A1A;
text-decoration:underline;
}
div.copyright{
float:left;
}

div#leftmenucont{
width:200px;
float:left;
margin-left:-200px;
display: inline;
}

fieldset{padding:4px;border:1px solid #aaaaaa;}
fieldset legend{font-weight:bold;}

div#rightmenucont{
width:217px;
float:right;
overflow:hidden;
margin-right:-217px;
display: inline;
}

div.action-links a
{
    font-weight:bold;
}

div#rightpadding{padding:4px;padding-right:9px;}


.float-break
{
    height: 1%; /* Fix for IE */
}

.float-break:after /* Terminate floating elements flow */
{
    content: "-";
    height: 0;
    font-size: 0;
    visibility: hidden;
    display: block;
    clear: both;
}


div#middcont{
width: 100%;
float: left;
overflow:hidden;
}

div.right-infobox{padding-bottom:4px;padding-left:4px;padding-top:11px;}
div.left-infobox{padding:5px;}

input{font-size:11px;}

div#mainartcont {
min-height:200px; 
height:auto;
padding:10px;
}
/* for Internet Explorer */
/*\*/
* html div#mainartcont {
height: 200px;
}
/**/

/*MENU STYLES*/
#navcontainer ul
{
list-style-type: none;
text-align: left;
margin:0;
padding:0;
margin-top:10px;
}
#navcontainer ul li{
padding:0;
}

#navcontainer ul li a
{
text-align: left;
font: bold 11px verdana;
text-decoration: none;
color:#40353d;
padding-left: 15px;
padding-top:2px;
padding-bottom:2px;
width:150px;
display:block;
}

#navcontainer ul li a:hover
{
color:#4D8F35;
text-decoration:none;
padding-left: 15px;
}

#navcontainer ul li a#current
{
color:#4D8F35;
text-decoration:underline;
padding-left: 15px;
}

.explain{font-size:10px;}
.error{color:red;}
.ok{color:#358F39}
.dataupdate{color:#358F39;font-weight:bold;}

input{font-family:verdana;}
.inputfield{font-family:verdana;font-size:11px;border:1px solid #CCCCCC;}

.lentele{
    border-color : #DCDCDC;
    border-style : solid;
    border-width: 1px 1px 0px 0px;
    
}

.lentele td, 
.lentele th {
 border-color : #DCDCDC;
 border-style : solid;
 border-width: 0 0 1px 1px;
 padding:2px;
}

.lentele td a{
    color:#4D8F35;
}
.lentele th{
background:url(../images/tabs/images/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x bottom left;
padding:4px;
text-align:left;
}
.lentele td.edit
{
    width:1%;
    white-space:nowrap;
}

.thead tr th,.thead td{border-color :#DCDCDC;
border-style : solid;
border-width: 0 0 1px 1px;
padding:4px;text-align:left;font-weight:bold;padding:5px 0px;}

.topaligntable tr td{vertical-align:top;}

.cntalg{text-align:center;}
 
.noborder td{
border:0;
}
.param_table tr td{
vertical-align:top;
}

select{font-size:11px;}
.selectstyle{width:136px;}
label input{vertical-align:middle;cursor:hand;}

span.ajax-ok,span.ajax-error,span.blue-progress{font-weight:bold;color:#339966;}
span.ajax-error{color:red;}
span.blue-progress{color:#3366FF;}

div.error-list{
padding-bottom:5px;
}
div.error-list ul li
{
   color: #C10000;
}

/*Gallery styles*/
.image-thumb,.album-thumb{float:left;height:150px;overflow:hidden;width:150px;border:1px solid #C7C2BB;margin:5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;font-size:11px;}
.thumb-attr a:hover{text-decoration:underline;}
.thumb-pic{padding:2px;}
.thumb-pic img{border:1px solid #CCCCCC;}
.thumb-pic,
.thumb-attr{text-align:center;padding:3px;font-size:11px;}
.thumb-attr h3{font-size:11px;}
.thumb-attr  a:hover h3{text-decoration:underline;}
.thumb-pic-small{width:108px;margin:1px;}

.navigator-ajax{padding-top:5px;}
.navigator-ajax .left-ajax,
.navigator-ajax .right-ajax{height:150px;width:16px;float:left;}
.navigator-ajax .left-ajax{background: url(../images/icons/arrow_left.png) no-repeat center left;}
.navigator-ajax .right-ajax{background: url(../images/icons/arrow_right.png) no-repeat center right;}
.navigator-ajax .left-ajax a,
.navigator-ajax .right-ajax a{display:block;height:150px;}

.album-thumb{height:80px;width:180px;}
.album-thumb div.content{padding:5px;}
.albthumb-img{float:left;padding-right:5px;}
.right{float:right;}
.navigator{font-size:12px;padding:5px 0px;border-bottom:1px dashed #CCCCCC;height:15px;}
.navigator a.current{font-weight:bold;}
.navigator a{padding-left:2px;padding-right:2px;}

.image-full{margin:0 auto;}
.image-full .navigator{text-align:center;}
.image-full-content{width:780px;margin:0 auto;border-top:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;padding-top:3px;padding-bottom:3px;}
.img{padding:10px;text-align:center;border:1px solid #CCCCCC;margin:10px;margin-left:0;}
.left-image{float:left}
.right-image{float:right;}
.header-list{border:1px solid #CCCCCC;margin:0;padding:3px;margin:0;background-color:#EFEFEF;-moz-border-radius: 5px;-webkit-border-radius: 5px;padding-left:5px;}
.header-list h1{margin:0;padding:0;}


.title-gallery{padding:10px;}
.subcategory-list-full{margin-top:3px;}
.subcategory-list-full ul li{padding-bottom:20px;}
.subcategory-list-full ul li h3{border:1px solid #CCCCCC;padding:3px;margin:0;background-color:#EFEFEF;-moz-border-radius: 5px;-webkit-border-radius: 5px;padding-left:5px; }
.status-album{padding-top:0px;}
.subcategory ul li{border-bottom:1px solid #CCCCCC;}
.subcategory ul li h3{padding:3px;padding-left:0;}
.picture-comments,.picture-details{padding-top:10px;padding-bottom:10px;}
.picture-comments .ct{color:#8F8F8F;font-size:11px;}

.picture-voting h3,
.picture-details h3,
.picture-comments h3
{border:1px solid #CCCCCC;padding:3px;margin:0;background-color:#EFEFEF;-moz-border-radius: 5px;-webkit-border-radius: 5px;font-size:11px; margin-bottom:3px;padding-left:5px;}
.picture-comments ul li{border-bottom:1px solid #EFEFEF;}
.comment-form{font-size:11px;margin-top:3px;}
.comment-form textarea{width:100%;}
.in-blk label{display:block;padding-bottom:2px;}
.in-blk{padding-bottom:5px;}
.default-textarea{border:1px solid #CCCCCC;}
.author{text-decoration:underline;}
.picture-comments ul.error-list li,
 ul.error-list li{color:red;border:0;}
 .picture-comments ul.ok li,
 ul.ok li{color:#358F39;border:0;}
 .search-box{font-size:14px;padding-right:220px;float:right;}
 .search-box input{padding:3px;font-size:14px;border:1px solid #CCCCCC;}
 .search-box input.keywordField{width:200px;}
 
 .last-search-infobox h3{border:1px solid #CCCCCC;padding:3px;margin:0;background-color:#EFEFEF;-moz-border-radius: 5px;-webkit-border-radius: 5px;padding-left:5px;}
 /*Color nbox*/
 /*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:url(../images/images/overlay.png) 0 0 repeat;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(../images/images/controls.png) -100px 0 no-repeat;}
    #cboxTopRight{width:21px; height:21px; background:url(../images/images/controls.png) -129px 0 no-repeat;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../images/images/controls.png) -100px -29px no-repeat;}
    #cboxBottomRight{width:21px; height:21px; background:url(../images/images/controls.png) -129px -29px no-repeat;}
    #cboxMiddleLeft{width:21px; background:url(../images/images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../images/images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../images/images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../images/images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;padding-top:4px;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0px; background:url(../images/images/controls.png) -75px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../images/images/controls.png) -50px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(../images/images/loading_background.png) center center no-repeat;}
        #cboxLoadingGraphic{background:url(../images/images/loading.gif) center center no-repeat;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(../images/images/controls.png) -25px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}

/*
    The following fixes png-transparency for IE6.  
    It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
    
    Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
    Colorbox preloads navigation hover classes to account for this.
    
    !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
    while regular CSS background images are relative to the CSS document.
*/
.cboxIE #cboxTopLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/design/defaulttheme/images/images/internet_explorer/borderTopLeft.png, sizingMethod='scale');}
.cboxIE #cboxTopCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/design/defaulttheme/images/images/internet_explorer/borderTopCenter.png, sizingMethod='scale');}
.cboxIE #cboxTopRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/design/defaulttheme/images/images/internet_explorer/borderTopRight.png, sizingMethod='scale');}
.cboxIE #cboxBottomLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/design/defaulttheme/images/images/internet_explorer/borderBottomLeft.png, sizingMethod='scale');}
.cboxIE #cboxBottomCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/design/defaulttheme/images/images/internet_explorer/borderBottomCenter.png, sizingMethod='scale');}
.cboxIE #cboxBottomRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/design/defaulttheme/images/images/internet_explorer/borderBottomRight.png, sizingMethod='scale');}
.cboxIE #cboxMiddleLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/design/defaulttheme/images/images/internet_explorer/borderMiddleLeft.png, sizingMethod='scale');}
.cboxIE #cboxMiddleRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/design/defaulttheme/images/images/internet_explorer/borderMiddleRight.png, sizingMethod='scale');}

.progressWrapper {
	/*width: 357px;*/
	overflow: hidden;
}

.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	text-align: left;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

div.left-progorescolumng{float:left;width:337px;}
div.right-progresbar{float:right;width:330px;padding-right:10px;}


.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: georgia;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../images/swf/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}


/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
	vertical-align: top;
}

.thumb-edit{float:left;height:290px;overflow:hidden;width:200px;border:1px solid #C7C2BB;margin:5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;font-size:11px;}
.thumb-edit .thumb-attr{text-align:left;padding-left:8px;}
.big-button{font-size:14px;}
.status-img{padding-left:5px;}
.last-hits-infobox li{border-bottom:1px solid #CCCCCC;padding-bottom:5px;padding-top:5px;}
.c-left{clear:left;}

.da{background:url(../images/gallery/1uparrow.png) no-repeat center right; padding-right:20px;}
.ar{background:url(../images/gallery/1downarrow.png) no-repeat center right;padding-right:20px;}
a.selor{text-decoration:underline;}
.order-nav{font-size:11px;}
.act-blc{text-align:left;padding:2px;}
div.right{
float:right;
}


.ezc-debug-output .group-header, .ezc-debug-output .debugheader
{
    text-align: left;
    background-color: #dddddd;
}

.ezc-debug-output .group-header th, .ezc-debug-output .debugheader th
{
    border-top: solid 1px gray;
}

.ezc-debug-output td.source
{
    font-weight: bold;
}

.ezc-debug-output th, .ezc-debug-output td
{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.ezc-debug-output tr.totals
{
    text-align: left;
    font-weight: bold;
    background-color: #eeeeee;
}

.ezc-debug-output td.tp-elapsed, .ezc-debug-output td.tp-percent, .ezc-debug-output td.tp-average
{
    text-align: right;
}

.ezc-debug-output td.tp-count
{
    text-align: center;
}

.ezc-debug-output td.tp-empty
{
    display: none;
}

.ezc-debug-output tr.switch
{
    font-style: italic;
    font-size: 90%;
}

.ezc-debug-output tr.switch td.tp-name
{
    padding-left: 2em;
}

.ezc-debug-output table
{
    margin-bottom: 2em;
    border: 1px solid gray;
    border-spacing: 0;
}

.ezc-debug-output span.verbosity1
{
    color: #ff0000;
}

.ezc-debug-output span.verbosity2
{
    color: #dd6622;
}

.ezc-debug-output span.verbosity3
{
    color: #fc8f1c;
}

.ezc-debug-output .log .debugstacktrace .stacktrace th
{
        padding-bottom: 3px;
        border-bottom: 3px solid black;
        font-weight: bold;
}

.ezc-debug-output .log .debugstacktrace .stacktrace td
{
        padding-top: 3px;
        padding-bottom: 3px;
}

.ezc-debug-output .log .debugstacktrace .stacktrace td.stacktraceno
{
        font-weight: bold;
}

.ezc-debug-output .log .debugstacktrace .stacktrace td.stacktracefunction
{
        font-style: italic;
}

.ezc-debug-output .log .debugstacktrace .stacktrace td.stacktracelocation
{
        color: #c0c0c0;
}

.ad-fv{background:url(../images/icons/star.png) no-repeat top left;width:16px;height:16px;float:left;cursor:pointer;}
.ad-fv-ok{background:url(../images/icons/star_accept.png) no-repeat top left;}
.control-block{border:1px solid #CCCCCC;margin:5px;padding:7px;}
.ad-html{background:url(../images/icons/html.png) no-repeat top left;width:16px;height:16px;float:left;cursor:pointer;}
.ad-phpbb{background:url(../images/icons/phpbb45.png) no-repeat top left;width:16px;height:16px;float:left;cursor:pointer;}
.ad-anaglyph{background:url(../images/icons/anaglyph.png) no-repeat top left;width:16px;height:16px;float:left;cursor:pointer;}
.control-block a{margin-right:5px;}
.tib{text-align:center;padding-top:5px;}

.rss_list{background:url(../images/icons/rss.png) no-repeat top left;width:25px;height:17px;float:left;cursor:pointer;}


#preview{position:absolute;padding:5px;display:none;color:#fff;background-color:#EFEFEF;border:1px solid #3F3F3F;}