$HTTP["host"] =~ "(^|\.)(example\.com)" {
expire.url = ( "/albums/" => "access 10 years" )
url.rewrite-once = (

# Mobile version nice url get's support
# Same method all siteaccess can get nice url support

"^/(m|lit|ger|fre|esp|por|ita|rus|jap|den|nor|ind)/(.*)-([0-9]*)(c\.html)(.*?)$" =>  "/index.php?/$1/gallery/category/$3$5",
"^/(m|lit|ger|fre|esp|por|ita|rus|jap|den|nor|ind)/(.*)-([0-9]*)(a\.html)(.*?)$" =>  "/index.php?/$1/gallery/album/$3$5",
"^/(m|lit|ger|fre|esp|por|ita|rus|jap|den|nor|ind)/(.*)-([0-9]*)(p\.html)(.*?)$" =>  "/index.php?/$1/gallery/image/$3$5",

# Gallery
"^/(.*)-([0-9]*)(c\.html)(.*?)$" =>  "/index.php?/gallery/category/$2$4",
"^/(.*)-([0-9]*)(a\.html)(.*?)$" =>  "/index.php?/gallery/album/$2$4",
"^/(.*)-([0-9]*)(p\.html)(.*?)$" =>  "/index.php?/gallery/image/$2$4",

# Forum
"^/(.*)-([0-9]*)(fc\.html)(.*?)$" =>  "/index.php?/forum/category/$2$4",
"^/(.*)-([0-9]*)(ft\.html)(.*?)$" =>  "/index.php?/forum/topic/$2$4",
"^/(.*)-([0-9]*)(fm\.html)(.*?)$" =>  "/index.php?/forum/message/$2$4",

"^/design/defaulttheme/js/(.*)" =>  "/design/defaulttheme/js/$1",
"^/design/backend/js/(.*)" =>  "/design/backend/js/$1",
"^/design/shoptheme/js/(.*)" =>  "/design/shoptheme/js/$1",

"^/albums/(.*)" =>  "/albums/$1",
"^/design/(.*)" =>  "/design/$1",

# START Uncomment for shop funcionality
# Allow normal_ and thumb_ images directly, uncomment line below
#"^/albums/(.*?)(normal_|thumb_)(.*)\.(css|html|htm|pdf|txt|js|bmp|ico|png|JPG|PNG|gif|jpe?g|swf)(.*?)$" =>  "$0",

# Deny access to full size images, uncomment line bellow
#"^/albums/(.*?)\.(css|html|htm|pdf|txt|js|bmp|json|ico|png|JPG|PNG|gif|jpe?g|swf)$" =>  "/index.php",
# END uncomoment shop functionality


"^/.*\.(css|html|htm|pdf|txt|js|bmp|ico|json|png|JPG|PNG|flv|ogv|gif|jpe?g|swf)(.*?)$" => "$0",
"^/index(.*)" => "/index$1",
"^/(.+)\?(.*)/?$" => "/index.php?/$1&$2",
"^/(.+)/?$" => "/index.php?/$1"
)
server.document-root = "/site/directory/root"
server.errorlog = "/var/log/lighttpd/error.log"
accesslog.filename = "/var/log/lighttpd/access.log"
server.error-handler-404 = "/e404.php"
}