# Nginx configuration example
# In order to use access log image counter log format have to be following
#
# log_format  main  '$remote_addr $http_host - [$time_local] "$request" '
#                    '$status $body_bytes_sent "$http_referer" '
#                    '"$http_user_agent" "$http_x_forwarded_for"';
#
# To allow big file size archives upload you have to edit also nginx directive
# client_max_body_size 64m;
# Also do not forget php.ini varialbes realted to upload size
#


server {
   listen          *:80;
   server_name    www.example.com example.com;
   root           /home/www/domains/example_lt;

   location ~ .php$ {	     
 	  include        /etc/nginx/fastcgi_params;
      fastcgi_pass   127.0.0.1:9000;
      fastcgi_index  index.php;
      fastcgi_param  PATH_INFO          $query_string;
      fastcgi_param  SCRIPT_FILENAME /home/www/domains/example_lt/$fastcgi_script_name;
      
   }
   	         
   #Allow hotlinking to normal and thumb size images
   location ~* (normal_|thumb_|^/design|^/cache)(.*)\.(gif|txt|json|jpe?g?|png|bmp|swf|css|js|swf|pdf|ico)$ {
        ## @todo: add expires headers...
        # favicon is only stored in 1 dir, the design one; But browsers ask for it in the root
        
        # Blocks some site rippers
       if ($http_user_agent ~* "(WebReaper|wget|SiteSucker|Mihov Picture Downloader|TALWinHttpClient|A1 Website Download|WebCopier|Download Ninja|Microsoft URL Control|GetRight|Arachmo|MJ12bot|Gaisbot|Anonymous|Yanga|Twiceler|psbot|Irvine|Indy Library|HTTrack)" ) { 
            return 403; 
       }
       
       # blocks some hotlinking sites
       if ($http_referer ~* (hot_linking_site.com)) {
          return 403;
       }
       	 
       expires max;
       access_log        off;
       root           /home/www/domains/example_lt;      
   }
   
   # Do not allow to hotlink full size images except our self and major search engines
   location ~* \.(gif|jpe?g?|png|bmp|swf|css|js|swf|json|pdf|ico|txt)$ {
            ## @todo: add expires headers...
                
           valid_referers none blocked server_names ~(artmight.com|google.|bing.|yahoo.);
           if ($invalid_referer) {
                 return 403;
           }
    
           if ($http_user_agent ~* "(WebReaper|wget|SiteSucker|Mihov Picture Downloader|TALWinHttpClient|A1 Website Download|WebCopier|Download Ninja|Microsoft URL Control|GetRight|Arachmo|MJ12bot|Gaisbot|Anonymous|Yanga|Twiceler|psbot|Irvine|Indy Library|HTTrack)" ) { 
                    return 403; 
           }
           
           if ($http_referer ~* (hot_linking_site.com)) {
              return 403;
           }
           #We want to log who is accesing to full size images
           #access_log        off;
           expires max;
           root           /home/www/domains/example_lt;
   }
       
   location / {
   
    rewrite "^/(m|lit|ger|fre|esp|por|ita|rus|jap|den|nor|ind|ces|hrv|pol|tur|ukr|bel|sve|rum|fin|ice)/(.*)-([0-9]*)c.html(.*?)?$" "index.php?/$1/gallery/category/$3$4" last;
    rewrite "^/(m|lit|ger|fre|esp|por|ita|rus|jap|den|nor|ind|ces|hrv|pol|tur|ukr|bel|sve|rum|fin|ice)/(.*)-([0-9]*)a.html(.*?)?$" "index.php?/$1/gallery/album/$3$4" last;
    rewrite "^/(m|lit|ger|fre|esp|por|ita|rus|jap|den|nor|ind|ces|hrv|pol|tur|ukr|bel|sve|rum|fin|ice)/(.*)-([0-9]*)p.html(.*?)?$" "index.php?/$1/gallery/image/$3$4" last;
        
    rewrite "^/(m|lit|ger|fre|esp|por|ita|rus|jap|den|nor|ind|ces|hrv|pol|tur|ukr|bel|sve|rum|fin|ice)/(.*)-([0-9]*)fc.html(.*?)?$" "index.php?/$1/forum/category/$3$4" last;
    rewrite "^/(m|lit|ger|fre|esp|por|ita|rus|jap|den|nor|ind|ces|hrv|pol|tur|ukr|bel|sve|rum|fin|ice)/(.*)-([0-9]*)ft.html(.*?)?$" "index.php?/$1/forum/topic/$3$4" last;
    rewrite "^/(m|lit|ger|fre|esp|por|ita|rus|jap|den|nor|ind|ces|hrv|pol|tur|ukr|bel|sve|rum|fin|ice)/(.*)-([0-9]*)fm.html(.*?)?$" "index.php?/$1/forum/message/$3$4" last;
   
    rewrite "^(.*)-([0-9]*)c.html(.*?)?$" "index.php?/gallery/category/$2$3" last;
	rewrite "^(.*)-([0-9]*)a.html(.*?)?$" "index.php?/gallery/album/$2$3" last;
	rewrite "^(.*)-([0-9]*)p.html(.*?)?$" "index.php?/gallery/image/$2$3" last;

    rewrite "^(.*)-([0-9]*)fc.html(.*?)?$" "index.php?/forum/category/$2$3" last;
	rewrite "^(.*)-([0-9]*)ft.html(.*?)?$" "index.php?/forum/topic/$2$3" last;
	rewrite "^(.*)-([0-9]*)fm.html(.*?)?$" "index.php?/forum/message/$2$3" last;

    rewrite "^(.*)$" "/index.php?$1" last;
   }
}

server {
   listen          *:80;
   server_name    static.example.com static1.example.com static2.example.com static3.example.com static4.example.com;
   root           /home/www/domains/example_lt;
     
   #Allow hotlinking to normal and thumb size images
   location ~* (normal_|thumb_|^/design|^/cache)(.*)\.(gif|txt|json|jpe?g?|png|bmp|swf|css|js|swf|pdf|ico)$ {
        ## @todo: add expires headers...
        # favicon is only stored in 1 dir, the design one; But browsers ask for it in the root
        
        # Blocks some site rippers
       if ($http_user_agent ~* "(WebReaper|wget|SiteSucker|Mihov Picture Downloader|TALWinHttpClient|A1 Website Download|WebCopier|Download Ninja|Microsoft URL Control|GetRight|Arachmo|MJ12bot|Gaisbot|Anonymous|Yanga|Twiceler|psbot|Irvine|Indy Library|HTTrack)" ) { 
            return 403; 
       }
       
       # blocks some hotlinking sites
       if ($http_referer ~* (hot_linking_site.com)) {
          return 403;
       }
       	 
       expires max;
       access_log        off;
       root           /home/www/domains/example_lt;      
   }
   
   # Do not allow to hotlink full size images except our self and major search engines
   location ~* \.(gif|jpe?g?|png|bmp|swf|json|css|js|swf|txt|pdf|ico)$ {
            ## @todo: add expires headers...
                
           valid_referers none blocked server_names ~(artmight.com|google.|bing.|yahoo.);
           if ($invalid_referer) {
                 return 403;
           }
    
           if ($http_user_agent ~* "(WebReaper|wget|SiteSucker|Mihov Picture Downloader|TALWinHttpClient|A1 Website Download|WebCopier|Download Ninja|Microsoft URL Control|GetRight|Arachmo|MJ12bot|Gaisbot|Anonymous|Yanga|Twiceler|psbot|Irvine|Indy Library|HTTrack)" ) { 
                    return 403; 
           }
           
           if ($http_referer ~* (hot_linking_site.com)) {
              return 403;
           }
           #We want to log who is accesing to full size images
           #access_log        off;
           expires max;
           root           /home/www/domains/example_lt;
   }
       
   location / {	   
    rewrite  ^/(.*)$  http://example.com/$1  permanent;
   }
}
