source anifofsrc
{
	type					= mysql
	sql_host				= <host>
	sql_user				= <username>
	sql_pass				= <password>
	sql_db					= <database>
	sql_port				= 3306	# optional, default is 3306

	sql_query				= \
		SELECT * FROM lh_gallery_sphinx_search_view

	sql_query_info			= SELECT * FROM lh_gallery_sphinx_search_view WHERE id=$id
	sql_query_post			= DELETE FROM lh_gallery_images_delta
	sql_attr_uint   = pid
	sql_attr_uint   = hits
	sql_attr_uint   = mtime
	sql_attr_uint   = comtime
	sql_attr_uint   = rtime
	sql_attr_uint   = pic_rating
	sql_attr_uint   = votes
	sql_attr_uint   = pwidth
	sql_attr_uint   = pheight
	sql_attr_uint   = album_id
}

source anifofdeltasrc : anifofsrc
{
    sql_query_pre = SET NAMES utf8
    sql_query_post = SET NAMES utf8
    
    sql_query				= \
		SELECT lh_gallery_sphinx_search_view.* FROM lh_gallery_sphinx_search_view \
		INNER JOIN lh_gallery_images_delta ON lh_gallery_images_delta.pid = lh_gallery_sphinx_search_view.id
									
	sql_query_killlist = SELECT pid FROM lh_gallery_images_delta
}

source forumsearchsrc
{
	type					= mysql
	sql_host				= <host>
	sql_user				= <username>
	sql_pass				= <password>
	sql_db					= <database>
	sql_port				= 3306	# optional, default is 3306

	sql_query				= \
		SELECT lh_forum_sphinx.* FROM lh_forum_sphinx
		
    sql_attr_uint           = topic_id
	sql_query_info			= SELECT * FROM lh_forum_message WHERE id=$id	
	sql_query_post			= DELETE FROM lh_forum_message_delta	
}

source forumsearchdeltasrc : forumsearchsrc
{
    sql_query_pre = SET NAMES utf8
    sql_query_post = SET NAMES utf8
    
    sql_query				= \
		SELECT lh_forum_sphinx.* FROM lh_forum_sphinx \
		INNER JOIN lh_forum_message_delta ON lh_forum_message_delta.id = lh_forum_sphinx.id
		
	sql_attr_uint          = topic_id
	sql_query_killlist     = SELECT id FROM lh_forum_message_delta
}

index anifof
{
	source					= anifofsrc
	path					= /var/data/anifofsrc
	docinfo					= extern
	charset_type=utf-8
	charset_table   = 0..9, A..Z->a..z, _-> , a..z
	
	wordforms = /usr/local/sphinx/data/wordforms.txt
	
	
	#Uncomment bellow if you want to have wildcard, 
	#do not forget enable worldcard in gallery configuration file also
	
	#min_word_len = 3
	#enable_star = 1
	#min_prefix_len = 3
}

index anifofdelta : anifof
{
    source          = anifofdeltasrc
    path            = /var/data/anifofdeltasrc
}

index forumsearch
{
	source					= forumsearchsrc
	path					= /var/data/forumsearchsrc
	docinfo					= extern
	charset_type=utf-8
	charset_table   = 0..9, A..Z->a..z, _-> , a..z
	
	min_word_len = 3
	enable_star = 1
	min_prefix_len = 3
}

index forumsearchdelta : forumsearch
{
    source          = forumsearchdeltasrc
    path            = /var/data/forumsearchdeltasrc
}